/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3c4596;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -2px;
    bottom: 0px;
    background-color: rgb(32, 39, 97);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1f415e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #234c6d;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}

.scale-mode-label {
    margin-left: 10px;
    vertical-align: middle;
    line-height: 34px; /* Align vertically with the slider */
    color: white; /* Choose the color that fits your design */
    font-size: 14px; /* Adjust as necessary */
}

.mobile {
    height: 75vh; /* Default height */
  }
  
  /* Media query for devices with a max-width of 600px (common breakpoint for mobile devices) */
  @media (max-width: 600px) {
    .mobile {
      height: 50vh; /* Reduced height for mobile devices */
    }
  }
